/*
 * This file is part of elementarys IRC Bot "RabbitBot"
 *
 * DO NOT USE THIS CONFIGURATION FOR YOUR OWN USE!
 *
 * Copyright (c) Fabian Thoma 2011
 *
 * RabbitBot is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * RabbitBot is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with RabbitBot.  If not, see <http://www.gnu.org/licenses/>.
 */

exports.db = {
	uri: 'mongodb://mongohost:mongoport/rabbitbot'
};

exports.login = {
	host: "irc.freenode.net",
	nick: 'RabbitBot-sample',
	password: null // null is no password, otherwise a string
};

exports.profile = {
	userName: 'RabbitBot',
	realName: 'nodeJS IRC Bot for elementary',
	port: 6667,
	debug: false,
	showErrors: false,
	autoRejoin: true,
	autoConnect: true,
	channels: ["#elementary-testing"],
	secure: false,
	selfSigned: false,
	certExpired: false,
	floodProtection: false,
	floodProtectionDelay: 1000,
	stripColors: false
};